input[type=number] {
  width: 25%;
  padding: 12px;
  border-style: none;
  border-bottom: 1px solid #ccc;
}

input[type=number]:focus {
  outline: none;
  border-bottom: 2px solid darkblue;
}

.btn-next {
  margin-left: 3rem;
}